.SearchResults {
    .messages-or-files {
        .active {
            background-color: rgba(var(--buton-bg-rgb), 0.08);
        }

        a {
            padding: 4px 12px;
            margin-left: 10px;
            text-decoration: none;
        }
    }

    .channel-files__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 14px;

        .channel-files__title {
            font-size: 14px;
            font-weight: 600;
        }
    }

    .channel-files-container {
        padding-top: 0;
    }

    .SearchResults__result-count {
        margin-left: 8px;
        color: rgba(var(--center-channel-color-rgb), 0.64);
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }

    .SearchResults__more-results-label {
        padding: 16px 16px 8px;
        color: rgba(var(--center-channel-color-rgb), 0.56);
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.02em;
        line-height: 16px;
        text-transform: uppercase;
    }
}
